[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/phantram
[access "refs/for/refs/*"]
	read = group user/phantram
	push = group user/phantram
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/phantram
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/phantram
	rebase = group user/phantram
	removeReviewer = group user/phantram
	submit = group Change Owner
	submit = group user/phantram
[access "refs/heads/*"]
	read = group user/phantram
	create = group user/phantram
	push = +force group user/phantram
	pushMerge = group user/phantram
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/trungphancode
[access "refs/tags/*"]
	push = group user/phantram
	push = +force group user/phantram
